{% extends 'base.html' %}

{% block content %}
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="d-flex flex-column">
      <div class="item relative-position">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
          alt=""
          class="img-fluid border-radius-30 px-2"
        />
        <div class="top-layout mt-3">
          <a href="#" class="p-2 px-3 bg-danger text-white border-radius-30 text-decoration-none">Save</a>
          <!-- <span class="p-1 px-2 cursor-pointer read-later-span fs-22">
            <i class="fa-regular fa-bookmark text-dark"></i>
          </span> -->
          <span class="p-1 px-2 cursor-pointer recently-read-span fs-22 me-3">
            <i class="fa-solid fa-check text-dark"></i>
          </span>
        </div>
      </div>
      <div class="item relative-position">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
          alt=""
          class="img-fluid border-radius-30 px-2"
        />
        <div class="top-layout mt-3">
          <span class="p-1 px-2 cursor-pointer read-later-span fs-22">
            <i class="fa-regular fa-bookmark text-dark"></i>
          </span>
          <span class="p-1 px-2 cursor-pointer recently-read-span fs-22 me-3">
            <i class="fa-solid fa-check text-dark"></i>
          </span>
        </div>
      </div>
      <div class="item relative-position">
        <img
          src="https://images.unsplash.com/photo-1502550900787-e956c314a221?auto=format&fit=crop&w=334&q=80"
          alt=""
          class="img-fluid border-radius-30 px-2"
        />
        <div class="top-layout mt-3">
          <span class="p-1 px-2 cursor-pointer read-later-span fs-22">
            <i class="fa-regular fa-bookmark text-dark"></i>
          </span>
          <span class="p-1 px-2 cursor-pointer recently-read-span fs-22 me-3">
            <i class="fa-solid fa-check text-dark"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="img-fluid border-radius-30">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp" class="img-fluid border-radius-30">
      <img src="https://images.unsplash.com/photo-1455853659719-4b521eebc76d?auto=format&fit=crop&w=750&q=80" class="img-fluid border-radius-30">
    </div>
    <div class="d-flex flex-column">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp" class="img-fluid border-radius-30">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp" class="img-fluid border-radius-30">
    </div>
    <div class="d-flex flex-column">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="img-fluid border-radius-30">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp" class="img-fluid border-radius-30">
        <img src="https://images.unsplash.com/photo-1497888329096-51c27beff665?auto=format&fit=crop&w=751&q=80" class="img-fluid border-radius-30">
      <img src="https://images.unsplash.com/photo-1505253468034-514d2507d914?auto=format&fit=crop&w=334&q=80"  class="img-fluid border-radius-30">
    </div>
    <div class="d-flex flex-column">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="img-fluid border-radius-30">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp" class="img-fluid border-radius-30">
      <img src="https://images.unsplash.com/photo-1500816558239-6b91f4256ead?auto=format&fit=crop&w=331&q=80" class="img-fluid border-radius-30">
      
      <img src="https://images.unsplash.com/photo-1487376318617-f43c7b41e2e2?auto=format&fit=crop&w=750&q=80" class="img-fluid border-radius-30">
    </div>
    <div class="d-flex flex-column">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" class="img-fluid border-radius-30">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp" class="img-fluid border-radius-30">
      <img src="https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80" class="img-fluid border-radius-30">
      
      <img src="https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=334&q=80" class="img-fluid border-radius-30">
    </div>
  </div>
{% endblock %}
